html {
   background: url("https://images.unsplash.com/photo-1457365050282-c53d772ef8b2?ixlib=rb-0.3.5&s=93658afa8c1956aac673b2c37efb516e&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: contain;
   background-size: 100% 100%;
   background-color: black;
}

.smaller-image {
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
    width: 20%;
    display: block;
    margin-top: -3.5%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Berkshire Swash, cursive;
    font-size: 73px;
    color: white;
    text-align: center;
    float: center;
    margin-top: 2%;
}

h3 {
    color: white;
    text-align: center;
    font-family: Amatic SC, cursive;
    font-size: 25px;
    font-style: bold;
    margin-top: 60%;
}

.company-title {
    color: white;
    font-family: Amatic SC, cursive;
    font-size: 45px;
}

#SpaceX {
    margin-top: -4.2%;
    margin-left: 68.5%;
}

#boring-company{
    margin-top: -4.5%;
    margin-left: 13%;
}

#Tesla{
    margin-top: -28.2%;;
    margin-left: 5.2%;
}

#solar-city {
    margin-top: -4.7%;
    margin-left: 79.5%;
}

.center {
    color: snow;
    font-family: Amatic SC, cursive;
    font-size: 35px;
    width: 100%;
    text-align: center;
    position: fixed;
}

.box-left{
    height: 350px;
    width: 400px;
    border: 5px solid #026490;
    background-color: relative;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10%;
}

.box-right {
    height: 350px;
    width: 400px;
    border: 5px solid #c9693e;
    background-color: relative;
    margin-top: -29%;
    margin-left: 63%;
    border-radius: 10%;
}

#box-text {
    color: white;
    font-family: Berkshire Swash, cursive;
    font-size: 25px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    text-align: left;
    font-size: 20px;
}